<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quotes and Rhymes Generator</title>
  <link rel="stylesheet" href="../static/css/style.css">

</head>
<body>
    <!-- Navbar -->
    <nav class="navbar">
        <div class="logo">QuoRhyGen</div>
        <ul class="nav-links">
            <li><a href="/index">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>

    <main>
  <h1>Quote and Rhymes Generator</h1>

  <!-- Quotes display area -->
  <div id="quote-box">
    <p id="quote-text">Click a button to load a quote!</p>
    <p id="quote-author"></p>
  </div>

  <div class="btn-group">
    <button onclick="getRandomQuote()">Get Random Quote (local)</button>
    <button onclick="getExternalQuote()">Fetch Quote (external)</button>
    <button id="saveBtn" onclick="saveExternalQuote()" disabled>Save External Quote</button>
  </div>

  <!-- Add quote form -->
    <form id="quote-form">
      <h2>Add Your Quote or Rhyme</h2>
      <textarea id="new-quote-text" placeholder="Enter your quote or rhyme here" required></textarea>
      <input id="new-quote-author" placeholder="Author" required />
      <button type="submit">Submit Quote</button>
    </form>

  <!-- View all Quotes -->
  <h2>All Local Quotes</h2>
  <div id="all-quotes"></div>
</main>

  <!-- Edit Modal -->
  <div id="editModal" class="modal">
    <div class="modal-content">
      <h2>Edit Quote</h2>
      <textarea id="edit-text"></textarea>
      <input id="edit-author" />
      <div class="modal-actions">
        <button onclick="saveEdit()">Save</button>
        <button class="close-btn" onclick="closeModal()">Cancel</button>
      </div>
    </div>
  </div>

  <!-- Footer -->

  <footer>
    <p>&copy; 2024 Ramiro Rodiguez Alvarez. Built with Flask & Vanilla JS</p>
    </footer>

    <script src="{{ url_for('static', filename='js/app.js')}}"></script>
</body>
</html>
